<a href="https://colab.research.google.com/github/vishwakarma9470/DSA_with_Python/blob/main/DSA_with_Python_0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Syntax, Semantics and indentation in Python

- syntax refers to the set of rules that defines the combination of symbols that are considered to be correctly structured programs in a language. In simpler terms, syntax is about the correct arrangement of word and symbols in a code.


- semantics refers to the meaning or the imterpretation of the symbols, characters and commands in a language. it is about what the code is supposed to do when it runs.


- Indentation in python is used to define the struture and hierarchy of the code. Unlike many other programming languages that use braces {} to delimit blocks of code, Python uses indentation to determine the grouping of statements. This means that all the statements within a block must be indented at the same level.

In [12]:
l = 1 + 1
l

2

In [2]:
x = 10
print(type(x))

<class 'int'>

In [3]:
x = 'manish'
print(type(x))

<class 'str'>

In [4]:
age = 32
if age>30:
  print(age)

32

In [11]:
# code example of indentation
if True:
  print("Correct Indentation")

  if False:
    print("Incorrect Indentation")

  print("this will print")

print("outside the if block")

Correct Indentation
this will print
outside the if block

## Variables

- variables are fundamental elements in programming used to store data that cane be referenced and manipulated in a program. In Python, variables are created when you assign a value to them, and they do not need explicit declaration to reserve memory space. The declaration happens automatically when you assign a value to a variables.

In [13]:
a = 100
a

100

In [14]:
a = 12
height = 5.11
name = "manish"
is_student=True

In [15]:
print(a)

12

In [16]:
print(age)

32

In [17]:
print(name)

manish

In [18]:
# naming conventions
# variables names should be sescriptive
# they must start with a letter or an '_' and contains letter, numbers and underscores
# variables names case sensitive
# valic variable names

first_name  =  "Manish"
last_name = "kumar"

In [22]:
print('First_Name:', first_name)

First_Name: Manish

In [23]:
name = 'manish'
Name = 'kumar'

In [24]:
name == Name

False

In [26]:
# understanding variable types
# python is dynamically typed, type of a variables is deterined at runtime

age = 35
height = 5.11
name = 'manish'
is_student = True

In [27]:
print(type(age))

<class 'int'>

In [28]:
print(type(is_student))

<class 'bool'>

In [29]:
type(is_student)

bool

In [34]:
# type conversion
Age_str = str(age)
print(Age_str)
print(type(Age_str))

35
<class 'str'>

In [36]:
Age_int = int(Age_str)
print(Age_int)
print(type(Age_int))

35
<class 'int'>

In [37]:
# dynamic typing

var = 20
print(var, type(var))

20 <class 'int'>

In [38]:
# python allows the type of a variable to change as th program executes
var = ' manish '
print(var, type(var))

 manish  <class 'str'>

In [39]:
var = 3.4
print(var, type(var))

3.4 <class 'float'>

In [40]:
age = input("what is the age")
age

what is the age34

'34'

In [41]:
print(age, type(age))

34 <class 'str'>

In [43]:
## simple calculator

num1= int(input("enter the first number :"))
num2= int(input("enter the second number :"))

sum = num1 + num2
dif = num1- num2
mul = num1*num2
div = num1/num2

print("sum :", sum)
print("difference:", dif)
print("multiplication :", mul)
print('division : ', div)

enter the first number :43
enter the second number :2
sum : 45
difference: 41
multiplication : 86
division :  21.5

## Data types

- Data types are a classification of data which tell the compiler or interpreter how the programmer intends to use the data. they determing the type of operations that can be performed on the data the values that the data can take, and the amount of memory needed to store the data.

### Importance of Data types in programming language

- Data types ensure that data is stored in an efficient way.
- They help in performing correct operations on data.
- Proper use of data types can prevent errors and bugs in the program

In [44]:
## Integer example

age = 32
type(age)

int

In [45]:
# floating point datatype
height = 3.43
type(height)

float

In [46]:
## string
name = "manish"
print(type(name))

<class 'str'>

In [47]:
## boolean data types
is_student = True
print(type(is_student))

<class 'bool'>

In [48]:
a = 10
b = 10
c = a + b
c = 20
c = True
print(type(c))

<class 'bool'>

In [49]:
## typecasting
result = "manish" + str(5)

In [50]:
print(type(result))

<class 'str'>

In [51]:
print(result)

manish5

## Operators in Python

In [55]:
## Arithmetics operators
a = 20
b = 4
print(a+b) # addition
print(a-b) # subtraction
print(a*b) # multiplication
print(a/b) # division
print(a//b) # floor division
print(a%b) # modulus
print(a**b) # exponentiation

24
16
80
5.0
5
0
160000

In [60]:
## comparison operators
a = 43
b = 23
print(a>b) # greater
print(a<b)  # lessthan
print(a>=b) # greater equal to
print(a<=b) # lessthan equal to
print(a==b) # equal to operation
print(a!=b) # not equal tp operation

True
False
True
False
False
True

In [66]:
## logical operator
a = True
b = False
print(a and b)  # AND operation
print(a or b) # or operations
print(not a) # NOt operation

False
True
False